:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

input[type="text"] {
  font-size: 16px;
  height: 25px;
  padding: 10px;
  border: none;
  min-width: 250px;
  color: grey;
  border-radius: 2px;
  outline: none;
  margin: 0px 6px;
}

.btn {
  font-size: 16px;

  width: 100px;
  height: 45px;
  cursor: pointer;
  background-color: green;
  border: none;
  border-radius: 2px;
}

.btn:hover,
.btn:active {
  background-color: rgb(42, 83, 1);
}

.header {
  padding: 100px 0px;
}

.header h1 {
  text-align: center;
}

.list {
  list-style: none;
}

.list-item-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
input[type="checkbox"] {
  width: 1.5rem;
}
.list-item {
  font-size: 20px;
  padding: 5px 0px;
}

.btn-delete {
  background-color: transparent;
  border: none;
  font-size: large;
  cursor: pointer;
}
.btn-delete:hover,
.btn-delete:active {
  background-color: #4242424b;
  border-radius: 3px;
}
